@charset "utf-8";
/* NanumGothic Font */
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
/* reset */
html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,a,abbr,address,img,ol,ul,li,fieldset,form,label,legend,tbody,tfoot,thead,tr,th,td,article,aside,canvas,figure,figcaption,footer,header,hgroup,menu,nav,section,video {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
html,body {width:100%;height:100%;font-family: 'Nanum Square', sans-serif}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block}
a{text-decoration:none;color:#000}
body {line-height:1.5}
ol,ul {list-style:none}
table {border-collapse:collapse;border-spacing:0}
button{padding: 0;border: none;background:none;}
img{display: block;border: 0;}
/* common */
.clearfix:after{display:block;clear:both;content:''}
.rel{width: 100%;height: 100%}
/* layout */
#wrap {width: 100%;height: 100%;min-width:1200px}
header{position:absolute;z-index:60}
section_main_slide{position:relative;z-index:30}
section_content_wrap{position: relative;z-index:20}
footer{position:relative;z-index:10}
/* header */
#_header{overflow: hidden;top: 0;left: 0;width: 100%;height: 86px;background-color: #fff}
#_nav{width: 1200px;margin: 0 auto}
#_nav ._logo{float: left;width: 160px;padding-right:55px}
#_nav ._logo_img{display: inline-block;width: 154px;height: 25px;margin: 32.5px 3px;background-image: url(../imgs/header_on.png);background-position: 0 0;text-indent: -9999px}
#_nav ._lst_container{float: left}
#_nav ._main_lst{width: 792px}
#_nav ._main_lst li{float: left;width: 132px;text-align: center}
#_nav ._main_lst li a{display: block;margin: 30px 0 26px 0;padding: 3px 0;font-size: 16px;color: #222}
#_nav ._lst_wrap ._sub_lst{float: left;width: 131px;height: 230px;padding-top: 20px;border-right: 1px solid #dcdddd;font-size: 15px;text-align: center}
#_nav ._lst_wrap ._sub_lst._bdleft{width: 130px;border-left: 1px solid #dcdddd}
#_nav ._sub_lst li a{display: block;padding: 6.5px 0;color: #222}
#_nav ._banner_container{float: left;width: 193px}
#_nav ._siteMap{padding: 21px 0;text-align: center;font-size: 0}
#_nav ._siteMap .fa-bars{padding: 10px;font-size: 24px}
#_nav ._KDC{width: 550px;height: 250px;background-image: url(../imgs/_banner.jpg);background-size: cover;font-size: 0}
#_nav ._KDC ._KDC_content{display: inline-block;width: 120px;height: 50px;padding: 35px 35px 0 35px;font-size:20px;text-align: center;line-height: 50px;color: #fff}
#_nav ._KDC ._KDC_btn{display: block;width: 80px;height: 35px;margin-left: 35px; padding: 0 20px;border-radius: 20px;background-color: #082149; text-align: center;line-height: 35px}
#_nav ._KDC ._KDC_btn_contnet{font-size:17px;color:#fff}
/* _main_slide */
#_main_slide ._slide_container{height: 100%}
#_main_slide ._main_text_container{position: absolute;top: 0;left: 0;width: 100%;padding-top: 245px}
#_main_slide ._main_text{position: relative;width: 1200px;margin: 0 auto}
#_main_slide ._main_text ._title{font-size: 70px;font-weight: 400;color: #fff}
#_main_slide ._main_text ._dec{position: relative;top: 25px}
#_main_slide ._main_text ._slash{position: absolute;top: 17.5px;left: 0;display: inline-block;width: 30px;height: 2px;font-weight: 400; background-color: #fff}
#_main_slide ._main_text ._dec_text{position: absolute;top: 0;left: 45px;font-size: 26px;font-weight: bold;color: #fff;line-height: 39px}
#_main_slide ._main_text .text_content{position: absolute;top: 180px;left: 45px;font-size: 22px;font-weight: bold;color: #fff}
#_main_slide .bx-wrapper{height: 100%}
#_main_slide .bx-viewport{height: 100%}
#_main_slide ._slide_img{height: 100%}
#_main_slide ._slide_img li{height: 100%;}
#_main_slide ._slide_img img{width: 100%;height: 100%}
#_main_slide ._slide_control_contaier{position: absolute;bottom: 117px;right: 50%;width: 164px;z-index: 10;margin-right: -600px}
#_main_slide ._control_container{position: absolute;bottom: 117px;right: 50%;width: 164px;margin-right: -600px;z-index:100}
#_main_slide ._control{overflow: hidden}
#_main_slide ._control ._btn{position: relative;float: left;width: 48px;height: 48px;text-indent: -9999px;border-radius: 48px;background-color: #fff}
#_main_slide ._control ._prev .bx-prev{overflow: hidden;position: absolute;top: 0;left: 0;display: inline-block;width: 48px;height: 48px;text-indent: -9999px;background-image: url(../imgs/main.png);background-position: 0px -270px;vertical-align: top}
#_main_slide ._control ._next .bx-next{overflow: hidden;position: absolute;top: 0;left: 0;display: inline-block;width: 48px;height: 48px;text-indent: -9999px;background-image: url(../imgs/main.png);background-position: 0px -49px;vertical-align: top}
#_main_slide ._btn._start_pause{margin: 0 10px;background-color: rgba(0,0,0,0);border: 2px solid #fff}
#_main_slide .bx-start{position: absolute;top: 50%;left: 50%;height: 0;margin: -5px 0 0 -3px;border-style: solid;border-width: 6px 0 6px 10px;border-color: transparent transparent transparent #fff}
#_main_slide .bx-stop{position: absolute;top: 50%;left: 50%;height: 8px;margin: -3px 0 0 -4px;border-style: double;border-width: 0 0 0 8px;border-color: transparent transparent transparent #fff}
#_main_slide ._count_container{position: relative;float: right;margin-top: 40px}
#_main_slide ._count_container:before{content: "";position: absolute;top: 9px;left: -40px;width: 30px;height: 2px;background-color: #fff}
#_main_slide ._no{display: inline-block}
#_main_slide ._current{font-weight: 500;font-size: 26px;line-height: 0.8;color: #fff}
#_main_slide ._slash{width: 18px;height: 20px;margin: 0 7px;background-image: url(../imgs/main.png);background-position: 0px -752px}
#_main_slide ._total{font-weight: 500;font-size: 16px;line-height: .8;color: #fff;opacity:0.7;margin-top: 5px}
/* _content1 */
#_content_wrap ._content1_container{overflow: hidden;padding: 140px 0}
#_content_wrap ._content1_container ._content1_title{overflow: hidden;width: 0;height: 0;text-indent: -9999px;}
._content1_container ._contnet_slide_container{position: relative;width: 1200px;height: 616px;margin: 0 auto}
._content1_container ._img_container{position: absolute;top: 0;width: 690px;height: 616px}
._contnet_slide_container ._content{display: none;position: absolute;top: 0;left: 790px;width: 410px;padding-top: 55px;z-index:2}
._contnet_slide_container ._content._texton{display: block;}
._content ._title{font-weight: 400;font-size: 40px;line-height: 50px;color: #012b5d;}
._content ._subheading{display: block;margin-top: 30px;font-weight: 400;font-size: 22px;line-height: 32px;color: #444}
._content ._dectext:before{content: "";position: absolute;top: -34px;left: -159px;width: 220px;height: 3px;background-color: #0189b1;}
._content ._dectext{display: block;position: relative;margin-top: 72px;font-weight: 300;font-size: 16px;line-height: 26px;color: rgb(85, 85, 85)}
._slideimg1{left: -2370px}
._slideimg2{left: -1580px}
._slideimg3{left: -790px}
._slideimg4{left: 0px}
._slideimg5{left: 1300px}
._slideimg6{left: 2090px}
._content1_control_box{position: absolute;bottom: 60px;left: 790px;width: 410px;z-index: 21}
._content1_control_box ._content1_btn_area{float: left}
._content1_control_box ._content1_btn_area ._content1_btn{display: block;float: left;width: 38px;height: 38px;-webkit-border-radius: 48px;-moz-border-radius: 48px;border-radius: 48px;background-color: #012b5d;vertical-align: top;cursor: pointer}
._content1_btn_area ._content1_btn._content1_next{margin-left: 10px}
._content1_btn ._btn_img{display: inline-block;width: 38px;height: 38px;}
._content1_btn._content1_prev ._prev_btn{background-image: url(../imgs/main.png);background-position: 0px -333px;}
._content1_btn._content1_next ._next_btn{background-image: url(../imgs/main.png);background-position: 0px -112px;}
._content1_control_box ._contnet1_count_area{float: right;position: relative;width: 60px;height: 35px}
._contnet1_count_area ._cureent_no{position: absolute;top: 0;left: 0;font-weight: bold;font-size: 20px;line-height: 0.8;color: #012b5d}
._contnet1_count_area ._count_slash{position: absolute;top: 7px;left: 22px;width: 21px;height: 21px;background-image: url(../imgs/main.png);background-position: 0 -428px}
._contnet1_count_area ._total_no{position: absolute;bottom: 0;right: 0;font-weight: bold;font-size: 16px;line-height: 0.8;color: #a3a3a3}
/* _content2 */
#_content_wrap ._content2_container{overflow: hidden;width: 100%;}
#_content_wrap ._content2_title_container{float: left;position: relative;width: 35%;height: 702px;background: #012b5d}
#_content_wrap ._content2_title_container:before{position: absolute;bottom: 0;right: 0;width: 452px;height: 277px; background: url(../imgs/bg_section02_01.gif) no-repeat 0 0;content: ''}
._content2_title_container ._content2_title_wrap{position: absolute;right: 0;width: 250px;padding-right: 60px;}
._content2_title_wrap ._content2_title{padding-top: 170px;line-height: 1em;font-size: 40px;font-weight: bold;color: #fff}
._content2_title_wrap ._content2_dec{margin-top: 30px;font-weight: bold;font-size: 16px;line-height: 26px;color: #fff;opacity: 0.7;}
._content2_title_wrap ._btn_value{display: block;width: 118px;height: 38px;margin: 35px 0 0;border: 1px solid #fff;text-align: center;color: #fff;line-height: 38px;box-sizing: border-box;}
#_content_wrap ._content2_dec_container{float: left;position: relative;width: 65%;height: 702px;background-image: url(../imgs/bg_section02-2.png);}
._content2_dec_container ._content2_dec_wrap{width: 890px;height: 482px;margin:110px 0;background-color: #fff;}
._content2_dec_container ._content2_dec{overflow: hidden;width: 770px;height: 342px;padding: 50px 0 90px 100px}
._content2_dec_container ._content2_dec li{position: relative;float: left;width: 50%;height: 131px;margin-top: 40px}
._content2_dec_container ._content2_dec li:before{content: '';position: absolute;top: 0;left: 0;}
._content2_dec_container ._content2_dec li._content2_dec_01:before{background-image: url(../imgs/main.png);background-position: 0px -464px;width: 58px;height: 48px;}
._content2_dec_container ._content2_dec li._content2_dec_02:before{background-image: url(../imgs/main.png);background-position: 0px -527px;width: 58px;height: 48px;}
._content2_dec_container ._content2_dec li._content2_dec_03:before{background-image: url(../imgs/main.png);background-position: 0px -590px;width: 58px;height: 48px;}
._content2_dec_container ._content2_dec li._content2_dec_04:before{background-image: url(../imgs/main.png);background-position: 0px -653px;width: 58px;height: 48px;}
._content2_dec_container ._content2_dec li strong{display: block;padding-top: 76px;font-weight: bold;font-size: 20px;line-height: 0.8;color: #222;}
._content2_dec_container ._content2_dec li p{margin-top: 13px;font-size: 16px;line-height: 26px;color: #555;}
/* _content3 */
#_content_wrap ._content3_container{margin-top: 210px;background: url(../imgs/bg_section03.gif) repeat-y 50% 50%}
._content3_container ._content3_wrap{position: relative;width: 1200px;margin: 0 auto;}
._content3_wrap ._content3_title_container{float: left;width: 386px;height: 398px;margin-right: 24px;text-align: center;background-image: url(../imgs/bg_kdc_person.jpg)}
._content3_title_container ._contnet3_logo{padding-top: 21px;text-indent: -9999px}
._content3_title_container ._contnet3_logo img{margin: 0 auto}
._content3_title_container ._contnet3_txt{margin-top: 15px;line-height: 26px;font-size: 16px;color: #fff;}
._content3_title_container ._go_btn_ko{display: inline-block;margin-top: 25px;}
._content3_title_container ._go_btn_koicon{display: inline-block;width: 34px;height: 34px;background-image: url(../imgs/main.png);background-position: 0 0;}
._content3_wrap ._content3_slide_container{position: relative;height: 398px;margin-left: 410px;background-color: #e8e8e9;}
._content3_slide_container .bx-wrapper .bx-viewport{overflow: inherit !important}
._content3_slide_wrap ._content3_slide{position: absolute;top: 0;left: 0;width: 792px;height: 398px;z-index: 0 !important}
._content3_slide ._content3_slide_img{position: absolute;bottom: 0;left: 0;}
._content3_slide ._content3_slide_title_box{position: relative;width: 337px;padding-top: 120px;text-align: center}
._content3_slide ._content3_title{font-weight: 400;font-size: 40px;line-height: 1em;color: #222}
._content3_slide ._content3_title_dec_box{margin-top: 20px}
._content3_slide ._content3_title_dec{height: 60px;font-weight: 300;font-size: 20px;line-height: 30px;color: #555}
._content3_slide ._content3_slide_btn{margin-top: 15px}
._content3_slide ._btn_content3{display: inline-block;padding: 0 30px;font-weight: 400;font-size: 16px;line-height: 36px;color: #012b5d;border: 1px solid #012b5d}
._content3_slide ._content3_slide_person_box{position: absolute;bottom: 63px;right: -30px;width: 304px;height: 182px;background-color: #012b5d;}
._content3_slide ._content3_slide_person{padding-right: 30px;text-align: right;}
._content3_slide_person ._content3_slide_person_name{display: block;margin-top: 35px;font-weight: bold;font-size: 23px;line-height: 0.8;color: #fff;}
._content3_slide_person ._content3_slide_person_type{font-weight: 300;font-size: 16px;line-height: 26px;color: #fff}
._content3_wrap ._content3_btn_container{position: absolute;top: 0;right: 0;}
._content3_btn_container ._content3_btn_wrap{position: absolute;top: 110px;right: -30px;width: 82px;}
._content3_btn_wrap ._content3_btn{float: left;width: 27px;height: 27px;border-radius: 27px;background-color: #a8a9ab;text-indent: -9999px}
._content3_btn_wrap>._content3_btn>.bx-prev{overflow: hidden;display:block;width: 27px;height: 27px;background-image: url(../imgs/main.png);background-position: 0px -386px;}
._content3_btn_wrap>._content3_btn>.bx-next{overflow: hidden;display:block;width: 27px;height: 27px;background-image: url(../imgs/main.png);background-position: 0px -165px;}
._content3_btn_wrap ._content3_btn_play{position: relative;float: left;width: 27px;height: 27px; margin: 0 0.5px;text-indent: -9999px;}
._content3_btn_wrap ._content3_btn_play .bx-stop{display: block;position: absolute;top: 50%;left: 50%;margin: -5px 0 0 -4px;width: 0;height: 10px;border-style: double;border-width: 0 0 0 8px;border-color: transparent transparent transparent #a8a9ab;}
._content3_btn_wrap ._content3_btn_play .bx-start{display: block;position: absolute;top: 50%;left: 50%;width: 0;height: 0;margin: -5px 0 0 -4px;border-style: solid;border-width: 5px 0 5px 8px;border-color: transparent transparent transparent #a8a9ab;}
._content3_btn_container ._content3_count_container{position: absolute;top: 275px;right: 0;width: 54px;height: 32px;}
._content3_count_container ._content3_current{position: absolute;top: 0;left: 0;font-weight: bold;font-size: 20px;line-height: 0.8;color: #fff;vertical-align: top;}
._content3_count_container ._content3_count_slash{position: absolute;top: 6px;left: 22px;width: 21px;height: 21px;background-image: url(../imgs/main.png);background-position: 0px -716px;}
._content3_count_container ._content3_total{position: absolute;bottom: 0;right: 0;font-weight: bold;font-size: 16px;line-height: 0.8;color: #fff;opacity: 0.5;}